<%= search_form_for @q, :class => collapse_search_form, :id => "regular_foods_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :ndb_no, "Ndb no" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :ndb_no_gteq, :class => "form-control", :placeholder => "Ndb no greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :ndb_no_lteq, :class => "form-control", :placeholder => "Ndb no less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cho_factor, "Cho factor" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :cho_factor_gteq, :class => "form-control", :placeholder => "Cho factor greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :cho_factor_lteq, :class => "form-control", :placeholder => "Cho factor less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fat_factor, "Fat factor" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :fat_factor_gteq, :class => "form-control", :placeholder => "Fat factor greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :fat_factor_lteq, :class => "form-control", :placeholder => "Fat factor less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pro_factor, "Pro factor" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :pro_factor_gteq, :class => "form-control", :placeholder => "Pro factor greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :pro_factor_lteq, :class => "form-control", :placeholder => "Pro factor less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :n_factor, "N factor" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :n_factor_gteq, :class => "form-control", :placeholder => "N factor greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :n_factor_lteq, :class => "form-control", :placeholder => "N factor less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sciname_cont, "Sciname contains" %>
    <%= f.text_field :sciname_cont, :class => "form-control", :placeholder => "Sciname contains" %>
  </div>

  <div class="form-group">
    <%= f.label :refuse, "Refuse" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :refuse_gteq, :class => "form-control", :placeholder => "Refuse greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :refuse_lteq, :class => "form-control", :placeholder => "Refuse less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ref_desc_cont, "Ref desc contains" %>
    <%= f.text_field :ref_desc_cont, :class => "form-control", :placeholder => "Ref desc contains" %>
  </div>

  <div class="form-group">
    <%= f.label :survey_eq, "Survey" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :survey_eq, "1", checked: ((params[:q] && params[:q][:survey_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :survey_eq, "0", checked: ((params[:q] && params[:q][:survey_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :survey_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :manufacname_cont, "Manufacname contains" %>
    <%= f.text_field :manufacname_cont, :class => "form-control", :placeholder => "Manufacname contains" %>
  </div>

  <div class="form-group">
    <%= f.label :comname_cont, "Comname contains" %>
    <%= f.text_field :comname_cont, :class => "form-control", :placeholder => "Comname contains" %>
  </div>

  <div class="form-group">
    <%= f.label :shrt_desc_cont, "Shrt desc contains" %>
    <%= f.text_field :shrt_desc_cont, :class => "form-control", :placeholder => "Shrt desc contains" %>
  </div>

  <div class="form-group">
    <%= f.label :long_desc_cont, "Long desc contains" %>
    <%= f.text_field :long_desc_cont, :class => "form-control", :placeholder => "Long desc contains" %>
  </div>

  <div class="form-group">
    <%= f.label :fdgrp_cd, "Fdgrp cd" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :fdgrp_cd_gteq, :class => "form-control", :placeholder => "Fdgrp cd greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :fdgrp_cd_lteq, :class => "form-control", :placeholder => "Fdgrp cd less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/regular_foods" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#regular_foods_filters">
  Show filters
</a>
