<% if @serving_size_bfp.present? %>
  <% if @serving_size_bfp.errors.any? %>
    <% @serving_size_bfp.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new serving size bfp
</h1>


<hr>

<form action="/create_serving_size_bfp" method="post">

  <div class="form-group">
    <label for="ndb_no">
      Ndb no
    </label>

    <%= select_tag(:ndb_no, options_from_collection_for_select(Bfp.all, :id, :long_name, @serving_size_bfp.ndb_no), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="serving_size">
      Serving size
    </label>

    <input type="text" id="serving_size" name="serving_size" class="form-control" value="<%= @serving_size_bfp.serving_size %>">
  </div>

  <div class="form-group">
    <label for="serving_size_uom">
      Serving size uom
    </label>

    <input type="text" id="serving_size_uom" name="serving_size_uom" class="form-control" value="<%= @serving_size_bfp.serving_size_uom %>">
  </div>

  <div class="form-group">
    <label for="household_serving_size">
      Household serving size
    </label>

    <input type="text" id="household_serving_size" name="household_serving_size" class="form-control" value="<%= @serving_size_bfp.household_serving_size %>">
  </div>

  <div class="form-group">
    <label for="household_serving_size_uom">
      Household serving size uom
    </label>

    <input type="text" id="household_serving_size_uom" name="household_serving_size_uom" class="form-control" value="<%= @serving_size_bfp.household_serving_size_uom %>">
  </div>

  <div class="form-group">
    <label for="preparation_state">
      Preparation state
    </label>

    <input type="text" id="preparation_state" name="preparation_state" class="form-control" value="<%= @serving_size_bfp.preparation_state %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create serving size bfp
  </button>
</form>

<hr>

<a href="/serving_size_bfps">
  Go back
</a>
