<% if @nut_def.errors.any? %>
  <% @nut_def.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit nut def #<%= @nut_def.id %>
</h1>

<hr>

<form action="/update_nut_def/<%= @nut_def.id %>" method="post">

  <div class="form-group">
    <label for="units">
      Units
    </label>

    <input type="text" id="units" name="units" class="form-control" value="<%= @nut_def.units %>">
  </div>

  <div class="form-group">
    <label for="tagname">
      Tagname
    </label>

    <input type="text" id="tagname" name="tagname" class="form-control" value="<%= @nut_def.tagname %>">
  </div>

  <div class="form-group">
    <label for="nutrdesc">
      Nutrdesc
    </label>

    <textarea id="nutrdesc" name="nutrdesc" class="form-control" rows="3"><%= @nut_def.nutrdesc %></textarea>
  </div>

  <div class="form-group">
    <label for="num_dec">
      Num dec
    </label>

    <input type="text" id="num_dec" name="num_dec" class="form-control" value="<%= @nut_def.num_dec %>">
  </div>

  <div class="form-group">
    <label for="sr_order">
      Sr order
    </label>

    <input type="text" id="sr_order" name="sr_order" class="form-control" value="<%= @nut_def.sr_order %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update nut def
  </button>
</form>

<hr>

<a href="/nut_defs">
  Go back
</a>
